#container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#result-section {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding: 5px;
    /* border: 1px dotted black; */
}

h2 {
    border-top: 2px dotted black;
}
